<table class="table table-striped table-bordered table-hover" id="list-data">
  <thead>
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Created At</th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.email %></td>
        <td><%= student.name %></td>
        <td><%= student.gender %></td>
        <td><%= student.created_at %></td>       
        <td>
          <%= link_to ('<i class="fa fa-edit"></i>').html_safe, edit_student_path(student.id), title: "Edit" %>  
          <%= link_to ('<i class="fa fa-eye"></i>').html_safe, student_path(student.id), title: "Show" %> 
         </td>
      </tr>
    <% end %>
  </tbody>
</table>
