<!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
          href="<%= root_path %>"
          class="list-group-item list-group-item-action py-2 ripple <%=params[:controller]=="home" ? 'active' : ''%>"
          aria-current="true"
        >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
        </a>
         <% if can? :read,SchoolAdmin  %>
         <a href="<%= school_admins_path %>" class="list-group-item list-group-item-action py-2 ripple <%=params[:controller]=="school_admins" ? 'active' : ''%>">
           
          <i class="fas fa-chart-area fa-fw me-3"></i><span>School Admin</span>
        </a>
        <%end%>
        <% if can? :read, Student%>
        <a href="<%= students_path %>" class="list-group-item list-group-item-action py-2 ripple <%=params[:controller]=="students" ? 'active' : ''%>"
          ><i class="fa-sharp fa-light fa-graduation-cap fa-fw me-3"></i><span>Student</span></a
        >
        <%end%>
        <% if can? :read, Course %>
        <a href="<%= courses_path %>" class="list-group-item list-group-item-action py-2 ripple <%=params[:controller]=="courses" ? 'active' : ''%>"
          ><i class="fa-solid fa-book fa-fw me-3"></i><span>Courses</span></a
        >
        <%end%>
          <% if can? :read, School %>
            <a href="<%= schools_path %>" class="list-group-item list-group-item-action py-2 ripple <%=params[:controller]=="schools" ? 'active' : ''%>">
              <i class="fa-solid fa-school fa-fw me-3"></i><span>Schools</span>
            </a>
          <% elsif current_user.schooladmin? %>
            <% if current_user.school %>
            <a href="<%= school_path(current_user.school.id) %>" class="list-group-item list-group-item-action py-2 ripple <%=params[:controller]=="schools" ? 'active' : ''%>">
              <i class="fa-solid fa-school fa-fw me-3"></i><span>Schools</span>
            </a>
            <% end %>
          <% elsif current_user.student? %>
            <a href="<%= schools_path %>" class="list-group-item list-group-item-action py-2 ripple <%=params[:controller]=="schools" ? 'active' : ''%>">
              <i class="fa-solid fa-school fa-fw me-3"></i><span>Schools</span>
            </a>
          <% end %>
         <% if can? :read, Batch%> 
        <a href="<%= batches_path %>" class="list-group-item list-group-item-action py-2 ripple <%=params[:controller]=="batches" ? 'active' : ''%>">
          <i class="fa-solid fa-chalkboard fa-fw me-3"></i><span>Batchs</span>
        </a>
        <%end%>
        <a href="<%= enrollments_path %>" class="list-group-item list-group-item-action py-2 ripple <%=params[:controller]=="enrollment" ? 'active' : ''%>"
          ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Enrollment</span></a
        >
      </div>
    </div>
  </nav>
  <!-- Sidebar -->