<div class="container-fluid px-4">
    <h1 class="mt-4">School Admins List</h1>
    <div class="card mb-4">
      <div class="card-body">
        <div class="row" style="margin-bottom:10px;">
          <div class="col-sm-12 col-xs-12">
            <form action="/school_admins" accept-charset="UTF-8" method="get">
              <div class="row">
                <div class="col-md-2">
                  <input type="text" name="email" value="<%= params[:email] %>" class="form-control" placeholder="Search by email" aria-controls="list" id="searchBox">
                </div>
                <div class="col-md-2">
                  <input type="text" name="name" value="<%= params[:name] %>" class="form-control" placeholder="Search by name" aria-controls="list" id="searchBox">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-1">
                  <%= link_to "Clear", school_admins_path, class: "btn btn-outline-primary float-end" %>
                </div>
                <div class="col-md-2">
                  <input type="submit" name="commit" value="Search" class="btn btn-primary">
                </div>
                <div class="col-md-1">
                  <a href="<%= new_school_admin_path %>" data-title="Compose" class="btn btn-primary" style="color: #fff;">+Add</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <!-- BEGIN TABLE -->
              <%= render partial: "school_admins/list" %>
              <%= paginate @school_admins %>
              <!-- END TABLE -->
            </div>
        </div>
      </div>
    </div>
</div>
