<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PORTLET-->
        <!-- BEGIN FORM-->
        <%= form_for(@course, html: {class: 'form-horizontal' }) do |f| %>
          <div class="form-body">
            <div class="row">
              <div class="form-group school_form">
                <label class="control-label col-md-3">Course Name<font color="red">*</font></label>
                <div class="col-md-9">
                  <%= f.text_field :name, class: "form-control", required: true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group school_form">
                <label class="control-label col-md-3">Code<font color="red">*</font></label>
                <div class="col-md-9">
                  <%= f.text_field :code, class: "form-control", required: true, readonly: f.object.persisted? %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group school_form">
                <label class="control-label col-md-3">Duration</label>
                <div class="col-md-9">
                  <%= f.text_field :duration, class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="form-actions fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-offset-3 col-md-9">
                    <div class="row">
                    <div class="col-md-4">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-md-4">
                      <a href="<%= courses_path %>" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                </div>
              </div>
            </div>
            <!-- END FORM-->
          </div>  
        <% end %>
      <!-- End PORTLET-->
    <!-- End FORM-->               
  </div>
</div>
